html {
	margin: 0px;
	padding: 0px;
}


body {
	background-color: #251F0B;
	user-select: none;
	-moz-user-select: none;
	margin:0px;
	padding:0px;

}


#main {
	margin: 0px;
	padding: 0px;
	color:#fff;
}

@media (min-width: 1200px) {  
	#main { 
		text-align: center;
	}
}

.desc {
	font-family: Comic Sans, Comic Sans MS, cursive;
	margin-top:10px;
	font-size:8pt;
}



#cv{
	background-color: #000000;
}

.info {
	color:#fff;
	font-size:10px;
	font-family:Comic Sans MS;
	
}

.info a {
	color:#fff;
}

.adsense {
	margin-top:20px;
}

